/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
/* ---- base ---- */

.particles-js-canvas-el{
    position: fixed;
    z-index:-999;
}

html,body,main{ 
    background-color: #b1b1b1;    
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth; 
}  

a{
    color:inherit;
}

#particles-js{
    height: 100%;
}
.menu {
    background-color: #152736;
    z-index: 99999;
    position:fixed;
    width: 100vw;
    ul{
        width: 100vw;
        display: flex;
        justify-content: center;
        li{
            padding: 15px;
            color:white;
        }
        li:hover{
            color:red;
            cursor:pointer;
        }
    }   
        
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: auto;
    margin-top:3.5rem;
    margin-bottom: 1rem;
    h1{
        color: #152736;
        font-size: 3rem;
        font-weight: lighter;
        position: relative;
    }
    h2{
        color:  #152736;
        font-size: 2rem;        
        
    }
    h3{
        color:#152736;
        margin-bottom: 5px;
    }
    p{
        color: #152736;
        margin-top: 0 auto;
        font-size: 1rem;
        margin:15px auto;
        text-align: center;
        position: relative;
    }
    div{
        width:15rem;
        height: auto;
        margin:0 auto;
        padding: 5px;
        img {
            width:100%;
        }
    }
    
    
}

.skills{
    display: flex;
    margin-top:36rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: auto;

    img{
        width: 5rem;
        height: 5rem;
        position: relative;
        text-align: center;
        padding:1rem;
    }

    h2{
        text-align: center;
        margin-top: 0 auto;
        color:  #152736;
        font-size: 1.5rem;
        position: relative;
        margin-bottom: 15px;
        
    }
    #skills-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
}

.hobbies{
    display: flex;
    margin-top:46rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: auto;

    img{
        width: 5rem;
        height: 5rem;
        position: relative;
        text-align: center;
        padding:1rem;
    }

    h2{
        text-align: center;
        margin-top: 0 auto;
        color:  #152736;
        font-size: 1.5rem;
        position: relative;
        margin-bottom: 15px;
        
    }
    #hobbies-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
}

.formacion{
    display: flex;
    margin-top:57rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: auto;

    img{
        width: 5rem;
        height: 5rem;
        position: relative;
        text-align: center;
        padding:1rem;
    }

    h2{
        text-align: center;
        margin-top: 0 auto;
        color:  #152736;
        font-size: 1.5rem;
        position: relative;
        margin-bottom: 15px;
        
    }
    #formacion-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    p{
        color:#152736;
        font-size: 0.8rem;
        text-align: center;
    }
    div{
        margin-right: 20px;
        text-align: center;
    }
}

.proyectos {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top:70rem;
    width: 100vw;
    h2{
        text-align: center;
        margin-top: 0 auto;
        color:  #152736;
        font-size: 1.5rem;
        position: relative;
        margin-bottom: 15px;
        
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
     
  }
  .container .card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 25rem;
    position: relative;    
  }
  .container .card .card__head {
    color:white;
    background: #152736;
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
    white-space: nowrap;
  }
  .container .card:hover {
    flex-grow: 10;
  }
  .container .card:hover img {
    filter: grayscale(0);
  }
  .container .card:hover .card__head {
    text-align: center;
    top: calc(100% - 2em);
    color: #000;
    background: rgba(238, 255, 0, 0.5);
    font-size: 2em;
    transform: rotate(0deg) skew(-5deg);
  }
  .container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
  }
  .container .card:not(:nth-child(5)) {
    margin-right: 1em;
  }

  
  
  .contacto {
    display: flex;
    position: absolute;
     margin-top:100rem;     
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100vw;
    div{
        width: 40px;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    
    h2 ,label{ 
       
        text-align: center;
        margin-top:5px;
        color:  #152736;
        font-size: 1.5rem;
        position: relative;
        margin-bottom: 15px;        
    }
    form{
        display: flex;
        flex-direction: column;
    }
    input{
        height: 1.5rem;
        width: 15rem;
    }
    #button-enviar{
        
        width: 15rem;
        height: 3rem;
        margin:15px auto;
        border-radius: 10px solid;
        background-color: #152736;
        color: white;
        

        
    }
}

footer {
    
    position: absolute;
    margin-top:138rem;
    width: 100%;
    height: 50%;
    text-align: center;
    h6{
        color:  #152736;
        font-size: 0.8rem;

    }
    div {
        display: flex;
        justify-content: center;
        padding: 5px;
        div {
            width: 1rem;
            height: 1rem;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}